<ion-header>

  <ion-toolbar>

     
      <!-- <img class="gp" src="/assets/icon/gp.png" alt="logo"> -->
      <ion-text color="light">
        <h2 class="titulo">
          Soporte Técnico
      
        </h2>
      </ion-text>
  </ion-toolbar>
</ion-header>
<ion-content> 
    <ion-item *ngFor="let brand of Brands" >
        <ion-text>
            <h1 class="pregunta">
             {{brand.pregunta}} 
            </h1> 
            <h3 class="respuesta">
            {{brand.respuesta}}
            </h3> 
          </ion-text>
          <br>
    </ion-item>
    

                
   
</ion-content>
