ion-header{

    --ion-background-color:rgb(0, 0, 0);
}



.gp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 73px;
    margin-top: 20px;
    --ion-background-color:rgb(0, 0, 0);
}
ion-content{

       
    margin-left: 10px;
    margin-right: 10px;
} 

.titulo{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}

.pregunta{
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    font-size: 20px;
}

.respuesta{
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 15px;
}