// ion-header{

//      --ion-background-color:rgb(0, 0, 0);
    
// }
ion-content{

    --ion-background-color:rgb(0, 0, 0);
}
.titulo{
    margin-left: 0%;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}

.informacion{
    margin-left: 20%;
    margin-right: 20px;
    font-size: 16px;
    text-align: center;
}
