<ion-header >
  <ion-toolbar color="dark">
      <ion-icon  class="titulo" slot="start" color='secondary' name="arrow-back" (click)="closeBrand()"></ion-icon>    
       <ion-title   class="titulo" color='secondary'> {{brand.name}}</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content class="informacion" padding>
  <!-- <ion-img [src]="brand.image"></ion-img> -->
  <!-- <ion-label >{{brand.description}}</ion-label> -->
  <div>
    <ion-img [src]="brand.info[3]"></ion-img>
  </div>
  <div>
    <!-- {{brand.activity1[0]}} -->
    <ion-img [src]="brand.activity1[1]"></ion-img>
    <!-- <p>{{brand.activity1[2]}}</p> -->
  </div>
  <div>
    <!-- {{brand.activity2[0]}} -->
    <ion-img [src]="brand.activity2[1]"></ion-img>
    <!-- <p>{{brand.activity2[2]}}</p> -->
  </div>
  <div>
    <!-- {{brand.activity3[0]}} -->
    <ion-img [src]="brand.activity3[1]"></ion-img>
    <!-- <p>{{brand.activity3[2]}}</p> -->
  </div>
  <div>
    <!-- {{brand.activity4[0]}} -->
      <ion-img [src]="brand.activity4[1]"></ion-img>
      <!-- <p>{{brand.activity4[2]}}</p> -->
    </div>
    <div>
      <!-- {{brand.activity5[0]}} -->
        <ion-img [src]="brand.activity5[1]"></ion-img>
        <!-- <p>{{brand.activity5[2]}}</p> -->
      </div>
</ion-content>