@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
ion-content{

    --ion-background-color:rgb(255, 255, 255);
}
.titulo{
    margin-left: 0%;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}
.informacion{
font-size: 10px;
}