<ion-header  >
  <ion-toolbar color= "dark" >
    <ion-icon  class="titulo" slot="start" color='secondary' name="arrow-back" (click)="closeBrand()"></ion-icon> 
    <ion-title class="titulo" color="secondary">Historial de cartera digital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ngx-datatable class="informacion"  [rows]="historial" [columnMode]="'force'" [sortType]="'multi'" [reorderable]="false">
  <ngx-datatable-column name="Fecha"></ngx-datatable-column>
  <ngx-datatable-column name="Hora"></ngx-datatable-column>
  <ngx-datatable-column name="ID"></ngx-datatable-column>
  <ngx-datatable-column name="Estado"></ngx-datatable-column>
  <ngx-datatable-column name="Cantidad"></ngx-datatable-column>

</ngx-datatable>
</ion-content>
