<ion-header>
  <ion-toolbar >
    <br>
    <br>
    
    <div *ngFor="let infousers of infouser">
      <div [ngSwitch]="infousers.active">
        <img *ngSwitchDefault class="logom" src="assets/icon/mainn.png" alt="logo">  
        <img *ngSwitchCase="true"  class="logom" src="assets/icon/main.png" alt="logo">
        </div>
        
    </div>
 

    <br>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <ion-slides pager ="true">
      <ion-slide  *ngFor="let publicidad of Publicidad">
        <img [src]="publicidad.url" alt="" class="slide">
      </ion-slide>
    </ion-slides>    

  <br>
  <ion-item color="medium">
    <ion-label>Ciudad</ion-label>
    <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder={{ciudadSelecionada}} [(ngModel)]="ciudadSelecionada">
      <ion-select-option *ngFor="let user of ciudadesJSON">{{user.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <img (click)="selectMenu1()" class="i" src="assets/icon/Category/category01.png" alt="restaurante">
    <img (click)="selectMenu2()" src="assets/icon/Category/category02.png" alt="belleza">
    <img (click)="selectMenu3()" src="assets/icon/Category/category03.png" alt="hotel">

  </ion-item>
  <br>

  <ion-item>
    <img (click)="selectMenu4()" src="assets/icon/Category/category04.png" alt="fitnes">
    <img (click)="selectMenu5()" src="assets/icon/Category/category05.png" alt="salud">
    <img (click)="selectMenu6()" src="assets/icon/Category/category06.png" alt="farmacia">

  </ion-item>
  <br>
  <ion-item>
    <img (click)="selectMenu7()" src="assets/icon/Category/category07.png" alt="educacion">
    <img (click)="selectMenu8()" src="assets/icon/Category/category08.png" alt="bar">
    <img (click)="selectMenu9()" src="assets/icon/Category/category09.png" alt="heladeria">
  </ion-item>
  <br>
  <ion-item>
    <img (click)="selectMenu10()" src="assets/icon/Category/category10.png" alt="servicio">
    <img (click)="selectMenu11()" src="assets/icon/Category/category11.png" alt="varios">
    <img (click)="selectMenu12()" src="assets/icon/Category/category12.png" alt="publiextresstv">
  </ion-item>

  <br>
</ion-content>