ion-header{

    // --ion-background-color: linear-gradient(to left, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416, #480A0A,
    // #73191C,#99161C, #9D151B,#95171D,
    // #841A1E,#7C1A1D,#67181A,#551314,#480A0A,#591416, #6B191B,
    // #841A1E,#99161C, #9D151B,#9D151B,
    // #8C191D,#73191C,#631719,#591416 100% );
    --ion-background-color:rgb(0, 0, 0);
}
.logom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 0px;
    margin-block-end: 20px;
}

.slide{
    margin-left: auto;
    margin-right:auto;
    width: auto;
}

ion-content{

    --ion-background-color:rgb(0, 0, 0);
    
}

img{
    
    margin-left: auto;
    margin-right:auto;
    width: 70px;
    margin-top: 10px;
}




