    <ion-content>
      <h1>Nueva Ciudad</h1>
      <ion-input required type="text" placeholder="Ciudad" [(ngModel)]="ciudadNueva"></ion-input>
      <ion-button color="light" (click)="agregar()">Agregar</ion-button>
      </ion-content>


