<ion-content color="dark">
  <h2 class="titulo">Realizar Pago</h2>
  <br>
  <br>
  <div *ngIf="infouser">
    <div *ngFor="let infousersid of infouser">
      <ion-label position="stacked"> Mis VIP-APP : </ion-label>
      <ion-label color="secondary">{{infousersid.coin_SoyVIP}}</ion-label>
    </div>
  </div>
  
  
    <ion-label position="stacked">Código del Socio</ion-label>
    <ion-input [(ngModel)]="pagarID" placeholder="Ingrese código"></ion-input>
    <ion-item>
      <ion-button color="light" (click)="scanBar()"><ion-icon color='dark' name="qr-scanner"></ion-icon>QR</ion-button>
      <ion-button color="light" (click)="onVerifyID()"><ion-icon name="ribbon"></ion-icon>Verificar</ion-button>
    </ion-item>
    
  
  

  <div *ngFor="let infousersid of infouserid">

    <ion-label position="stacked"> Propietario: </ion-label>
    <ion-label>{{infousersid.info[0]}}</ion-label>
    <ion-input type="number" [(ngModel)]="pagarCantidad" placeholder="Ingrese Cantidad"></ion-input>
    
    
  </div>
<img src={{imagenpaago}}>
<div *ngIf="flagPago">
  <ion-button color="success" (click)="pagar()"        expand="full">Pagar</ion-button>
</div>
<ion-button color="danger"  (click)="DismissClick()" expand="full">Cerrar</ion-button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> 
</ion-content>


  