.titulo{
    margin-left: 0%;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}
.verificar{
    --ion-background-color:rgb(0, 255, 0);
}
.pago{
    --ion-color:rgb(0, 255, 0);
    text-decoration-color: black;
}