<!-- <div *ngIf="activeanimation">
    <div class="splash"> 
        <div class="animation-target"> 
            <ion-img src="assets/icon/main.png"></ion-img>
        </div>
      </div>
</div> -->


<ion-content>

  <img class="main" src="assets/icon/main.png" alt="logo">
  <br>
  <br>
  
  <ion-item class="correo">
    
    <ion-input type="text" placeholder="Correo" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <br>
  <br>


  <ion-item class="contraseña">
  
    <ion-input [(ngModel)]="user.password" type="password" placeholder="Contraseña" ></ion-input>
  </ion-item>

  <ion-text color="light">
    <h3 routerLink="/newpass">¿Has olvidado la contraseña?</h3>
  </ion-text>
  

  <ion-button class="Entrar"expand="block" Shape="round" fill="solid" (click)="onLogin()">Entrar</ion-button>

  <br>

  <ion-button color="secondary" class="Registro" expand="block" fill="outline" Shape="round" routerLink="/register">Registrarse</ion-button>
 <br>
 <br>





</ion-content>
 