ion-header{

    --ion-background-color:rgb(0, 0, 0);
       
}

.logom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    margin-top: 0px;
    margin-block-end: 20px;
}

.marcas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 0px;
    margin-block-end: 20px;
}
