<ion-header>
    <ion-toolbar> 
        <ion-buttons>
            <ion-back-button color="secondary"class="retroceder" defaultHref="/tabs/category"></ion-back-button>
          </ion-buttons>
  
      <img class="logom" src="assets/icon/CategoryHeaders/{{menu}}.png" alt="logo">
      
    </ion-toolbar>
  </ion-header>

<ion-content>
    
    <ion-list>
        <ion-item lines="none" *ngFor="let brand of Brands" (click)="openBrand(brand)">
                   
           <ion-toolbar>
            <ion-card >
              <ion-card-header>
                  <ion-img class="marcas" [src]="brand.image" ></ion-img>
                  <!-- <ion-card-title>{{brand.name}}</ion-card-title> -->
                  <!-- <ion-card-subtitle></ion-card-subtitle> -->
                </ion-card-header>
                <!-- <ion-card-content>
                    {{brand.description}}
                    
                </ion-card-content> -->
              </ion-card>
           </ion-toolbar>
            
           
            
          
          

        </ion-item>
    </ion-list>
</ion-content>
