<ion-tabs>
  <ion-tab-bar color='dark' slot="bottom">
    <ion-tab-button (click)="menu1()" tab="category"> 
        <ion-icon color='secondary' name="home"></ion-icon>
        <!-- <ion-label>Tab1</ion-label> -->
    </ion-tab-button>
    <ion-tab-button (click)="menu2()" tab="user"> 
        <ion-icon color='secondary' name="contact"></ion-icon>
        <!-- <ion-label>Tab2</ion-label> -->
    </ion-tab-button>
    <ion-tab-button (click)="menu3()" tab="info"> 
        <ion-icon color='secondary' name="information-circle"></ion-icon>
        <!-- <ion-label>Tab2</ion-label> -->
    </ion-tab-button>
    <ion-tab-button (click)="menu4()" tab="gp"> 
        <ion-icon color='secondary' name="construct"></ion-icon>
        <!-- <ion-label>Tab2</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
