ion-content{
    --ion-background-color:rgb(0, 0, 0);
    text-align: center;
    
}
ion-header{

    --ion-background-color:rgb(0, 0, 0);
}

.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 60px
 }
 .correo{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    --ion-text-color: #FFFFFF;
    --background: #2C2C2C;  
    
}

.contraseña{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    --ion-text-color: #FFFFFF;
    --background: #2C2C2C; 
    
}

h3{
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 60px;

}




.Entrar{
    margin-left: 60px;
    margin-right: 60px;
    
}

.Registro{
    margin-left: 60px;
    margin-right: 60px;
    
}

