<ion-header>
    <ion-toolbar>
        <ion-buttons>
          <ion-back-button color="secondary"class="retroceder" routerLink="/login"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content> 

    <img class="main" src="assets/icon/main.png" alt="logo">
    <br>
    <br>
    
    <ion-item class="correo">
      
      <ion-input type="text" placeholder="Correo" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <br>
    <br>
  
    <ion-button color="secondary" class="Entrar"expand="block" Shape="round" fill="outline" (click)="onRestablecerContra()">Restablecer contrasena</ion-button>
  
  
  </ion-content>
   