<ion-item>
  <h1 class="dd" >Mis Asociados</h1>
</ion-item>

<div *ngIf="infouserusers">
  <div *ngFor="let infouseruserss of infouserusers">

    <ion-list>
      <ion-item class="informacion2">
        {{infouseruserss}}
      </ion-item>
    </ion-list>

  </div>
</div>