<ion-header>

  <ion-toolbar>

     
      <img class="logot" src="assets/icon/main.png" alt="logo">
      <ion-text color="light">
        <h2 class="titulo">
          Conócenos
      
        </h2>
      </ion-text>
  </ion-toolbar>
</ion-header>
  
<ion-content> 
    
    <ion-text>
      <h1 class="cuerpo">
        Como socio VIP-APP tendrás acceso ilimitado a la red de descuentos a nivel nacional. 
También tendrás un código personal y un administrador con el que podrás trabajar o simplemente ganar dinero extra como asesor e impulsador VIP, donde ganarás 10 dólares por cada membresía que vendas.
<br><br>BONO VIP-APP <br>
VIP-APP además funciona como una tarjeta de crédito (digital ) donde por cada 5 membresías que vendas tendrás un cupo de $25 dólares con los que podrás pagar en todos nuestros locales y servicios aliados y sin recargo.
<br><br>PENSIÓN VIP <br>
VIP-APP cuenta con un plan de pensión donde a partir del año los socios asesores recibirán una pensión en base a sus ventas con la que podrán vivir dignamente.
VIP-APP es un proyecto para ti y tu familia ya que la cuenta la podrás heredar a tus seres queridos para asegurar su futuros.
        




<!-- <br> Todo aquel que adquiera la membresía tendrá el 20% de descuento en todos los locales asociados.
        <br>
        Podrá referir o vender la membresía, obteniendo el 50% del valor de la misma.
        <br>
        Las cuentas serán heredables o trasferibles.  -->
      </h1> 
    </ion-text>
    <br>
    <br>
   
</ion-content>