<div *ngIf="showSplash">
    <div class="splash"> 
        <div class="animation-target"> 
            <ion-img src="assets/icon/main.png"></ion-img>
        </div>
      </div>
</div>
<ion-app>
    <ion-router-outlet Id="main"></ion-router-outlet>
</ion-app>
