ion-header{

    --ion-background-color:rgb(0, 0, 0);
}



.logot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 20px;
    --ion-background-color:rgb(0, 0, 0);
}

ion-content{

    --ion-background-color:rgb(0, 0, 0);
   
    margin-left: 10px;
    margin-right: 10px;
} 

.titulo{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}



.cuerpo{
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    font-size: 15px;
}
