<ion-header>

    <ion-toolbar>
  
        <ion-buttons>
          <ion-back-button color="secondary"class="retroceder" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <img class="logot" src="assets/icon/main.png" alt="logo">
        <ion-text color="light">
          <h2 class="titulo">
            Términos y condiciones
        
          </h2>
        </ion-text>
    </ion-toolbar>
  
    
  </ion-header>
  <ion-content> 
    
    <ion-text color="light">
      <h1 class="cuerpo">
        Somos un Club a nivel nacional de servicios y descuentos a través de una aplicación móvil, creado pensando en mejorar la economía de los Emprendedores. <br>
  
        Conociendo la dura situación por la que están pasando miles de locales y que muchos optan por cerrar y ver fracasar su emprendimiento y con ello sus ilusiones, además perdiendo altas sumas de dinero y en muchos casos sin poder recuperarse, por tal motivo y con el fin de generar un ingreso recurrente para contrarrestar dicha crisis, hemos creado el sistema de Membresía VIP con suscripción mensual como una alternativa para cimentar, captar y fidelizar clientes, logrando así la reactivación económica y la reinserción laboral.
        
        <br> Todo aquel que adquiera la membresía tendrá el 20% de descuento en todos los locales asociados.
        <br>
        Podrá referir o vender la membresía, obteniendo el 50% del valor de la misma.
        <br>
        Las cuentas serán heredables o trasferibles. 
      </h1> 
    </ion-text>
    
  </ion-content>
  