<ion-header>
  <ion-toolbar color="dark">
        <ion-buttons>
            <ion-back-button color="secondary" defaultHref="/administrador"></ion-back-button>
          <ion-title>
            Detalle de marca
        </ion-title>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  

  <div *ngIf="!publicidadFlag" >
    <ion-list lines="full">
    
      <ion-item *ngIf="brands">
        <ion-input required type="text" placeholder="Nombre" [(ngModel)]="brands.name"></ion-input>
      </ion-item>
      <ion-item *ngIf="!brandId">
        <ion-label>Categoria</ion-label>
      <ion-select value="category01" interface="action-sheet" [(ngModel)]="marcaSeleccionada">
        <ion-select-option value="category01">Comida</ion-select-option>
        <ion-select-option value="category02">Belleza</ion-select-option>
        <ion-select-option value="category03">Turismo</ion-select-option>
        <ion-select-option value="category04">Gimnasios</ion-select-option>
        <ion-select-option value="category05">Salud</ion-select-option>
        <ion-select-option value="category06">Viajes</ion-select-option>
        <ion-select-option value="category07">Academias</ion-select-option>
        <ion-select-option value="category08">Bares</ion-select-option>
        <ion-select-option value="category09">Pastelerias</ion-select-option>
        <ion-select-option value="category10">Servicios</ion-select-option>
        <ion-select-option value="category11">Varios</ion-select-option>
        <ion-select-option value="category12">Ropa</ion-select-option>
      </ion-select>
      </ion-item>
    </ion-list>

    <ion-item> 
      <ion-label>Ciudad</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Manta" [(ngModel)]="ciudadSelecionada">
        <ion-select-option *ngFor="let user of ciudadesJSON">{{user.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
  <label>Portada</label>
  <ion-img [src]="brands.image"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen0()">Eliminar</ion-button><br>
         <ion-button color="dark" slot="end" (click)="subirImagen0()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Detalles</label>
  <ion-img [src]="brands.info[3]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen1()">Eliminar</ion-button><br>
         <ion-button color="dark" slot="end" (click)="subirImagen1()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
</div>
  <label>Imagen 1</label>
  <ion-img [src]="brands.activity1[1]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen2()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen2()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Imagen 2</label>
  <ion-img [src]="brands.activity2[1]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen3()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen3()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Imagen 3</label>
  <ion-img [src]="brands.activity3[1]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen4()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen4()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Imagen 4</label>
  <ion-img [src]="brands.activity4[1]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen5()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen5()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Imagen 5</label>
  <ion-img [src]="brands.activity5[1]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen6()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen6()">Seleccionar</ion-button><br>
  </ion-item>
  <div *ngIf="publicidadFlag" >
    <br>
    <label>Imagen 6</label>
    <ion-img [src]="brands.activity1[0]"></ion-img>
    <ion-item>
      <ion-button color="danger" (click)="eliminarImagen6()">Eliminar</ion-button><br>
           <ion-button color="dark"  slot="end" (click)="subirImagen6()">Seleccionar</ion-button><br>
    </ion-item>
    <br>
  <label>Imagen 7</label>
  <ion-img [src]="brands.activity2[0]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen6()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen6()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Imagen 8</label>
  <ion-img [src]="brands.activity3[0]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen6()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen6()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Imagen 9</label>
  <ion-img [src]="brands.activity4[0]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen6()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen6()">Seleccionar</ion-button><br>
  </ion-item>
  <br>
  <label>Imagen 10</label>
  <ion-img [src]="brands.activity5[0]"></ion-img>
  <ion-item>
    <ion-button color="danger" (click)="eliminarImagen6()">Eliminar</ion-button><br>
         <ion-button color="dark"  slot="end" (click)="subirImagen6()">Seleccionar</ion-button><br>
  </ion-item>



  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- <ion-button color="dark" expand="full" (click)="subirImagen1()">Seleccionar imagen 2</ion-button><br>
  <ion-button color="dark" expand="full" (click)="subirImagen2()">Seleccionar imagen 3</ion-button><br>
  <ion-button color="dark" expand="full" (click)="subirImagen3()">Seleccionar imagen 4</ion-button><br>
  <ion-button color="dark" expand="full" (click)="subirImagen4()">Seleccionar imagen 5</ion-button><br>
  <ion-button color="dark" expand="full" (click)="subirImagen5()">Seleccionar imagen 6</ion-button><br>
  <ion-button color="dark" expand="full" (click)="subirImagen6()">Seleccionar imagen 7</ion-button><br> -->
  <!--<ion-button expand="full" (click)="guardarMarca()">Guardar</ion-button> -->




  <ion-fab vertical= "bottom" horizontal="start" slot="fixed" *ngIf="brandId">
        <ion-fab-button color= "danger" (click)="eliminarMarca()" routerDirection="forward">
        <ion-icon name="trash">
        </ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical= "bottom" horizontal="end" slot="fixed">
        <ion-fab-button color ="dark" (click)="guardarMarca()" routerDirection="forward">
        <ion-icon name="save">
        </ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
