<ion-app>
  <ion-header>
    <ion-toolbar>
      <img class="gp" src="/assets/icon/user.png" alt="logo">
      <ion-text color="light">
        <h3 class="titulo">
          Usuario
        </h3>
      </ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- comprueba verificacion de email-->
    <div *ngIf="!user.hasVerifiedEmail">
      <!-- entra si el email no esta verificado-->
      <div class="mverifica">Por favor revisa tu correo y verifica tu cuenta por seguridad.</div>
      <div>
        <ion-button class="userbuttons" Shape="round" expand="block" color="dark" (click)="onSendVerificationEmail()">
          Verificar Código</ion-button>
        <br>
        <ion-button class="userbuttons" Shape="round" expand="block" color="dark" (click)="reload()">Actualizar
        </ion-button>
      </div>
      <br>
      <div class="verificacionenvio" *ngIf="user.sentTimestamp"> El correo de verificacion se envio
        {{user.sentTimestamp | date:'medium'}}</div>
    </div>
    <div padding *ngIf="user.hasVerifiedEmail">
      <!-- entra si el email esta verificado-->
      <div *ngFor="let infousers of infouser">
        <div *ngIf="!infousers.active">
          <!-- entra si no es VIP-->
          <div *ngIf="!infousers.sendimg">
            <!-- entra si no ha enviado el pago-->
            <div [ngSwitch]="auxuser">
              <div class="id" *ngSwitchCase="0">
                <ion-item>
                  <ion-label position="stacked">Código del Socio</ion-label>
                  <ion-input [(ngModel)]="hreferal"></ion-input>
                </ion-item>
                <ion-label>
                  <ion-text class="mensajeid" color="danger">
                    <p>{{mensaje}}</p>
                  </ion-text>
                </ion-label>
                <br>
                <ion-button class="userbuttons" color="dark" expand="full" Shape="round" (click)="onVerifyID()">
                  Verificar</ion-button>
              </div>
              <div *ngSwitchCase="1">
                <div *ngFor="let infousersid of infouserid">
                  <ion-item>
                    <ion-label position="stacked">Información de Socio:<br></ion-label>
                    <ion-label position="stacked"> Nombre: </ion-label>
                    <h5 class="informacion2">{{infousersid.info[0]}}</h5>
                  </ion-item>
                  <ion-item lines="none">
                    <br>
                    <ion-label position="stacked">Información personal:</ion-label>
                    <br>
                    <div>
                      <ion-item>
                        <ion-label position="stacked">Nombres Completos:<ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input [(ngModel)]="primernombre"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Número de cédula<ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="number" min="0" max="10" [(ngModel)]="infohtlmtcedula"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Fecha de nacimiento<ion-text color="danger">*</ion-text>
                        </ion-label>
                        <br>
                        <ion-button color="dark" Shape="round" (click)="selectdate()">{{this.mensajefdn}}</ion-button>

                      </ion-item>
                      
                      <ion-item>
                        <ion-label position="stacked">Genero<ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-select position="stacked" [(ngModel)]="infohtlmgenero" placeholder="Seleccione"
                          interface="popover">
                          <ion-select-option value="femenino">Femenino</ion-select-option>
                          <ion-select-option value="masculino">Masculino</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label position="stacked">Número de celular<ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="number" min="0" max="10" [(ngModel)]="infohtlmtphone"></ion-input>
                      </ion-item>
                    </div>
                  </ion-item>
                  <!-- <ion-item lines="none">
                    <br>
                    <ion-label position="stacked">Información del beneficiario</ion-label>
                    <br>
                    <ion-item>
                      <ion-label position="stacked">Nombres Completos:</ion-label>
                      <ion-input [(ngModel)]="infohtlmbnombre"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">Parentezco:</ion-label>
                      <ion-input [(ngModel)]="infohtlmbparentezco"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">Numero de celular:</ion-label>
                      <ion-input type="number" [(ngModel)]="infohtlmtphoneb"></ion-input>
                    </ion-item>
                  </ion-item> -->
                  <ion-label>
                    <ion-text color="danger">
                      <p class="codigonodisponible">{{mensaje}}</p>
                    </ion-text>
                  </ion-label>
                  <br>
                  <ion-button class="userbuttons" color="dark" expand="block" Shape="round" (click)="createUser()">
                    GUARDAR</ion-button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="infousers.sendimg">
            <!-- entra si ha enviado el pago-->
            <div *ngFor="let infousersid of infouserid">
              <ion-item lines="none">
                <h3 class="margensuperior">Información del Socio</h3>
                <ion-label position="stacked"> Nombre: </ion-label>
                <h5 class="informacion2">{{infousersid.info[0]}}</h5>
                <ion-label position="stacked"> Correo electronico: </ion-label>
                <h5 class="informacion2">{{infousersid.email}}</h5>
                <ion-button class="userbuttons" color="dark" expand="full" Shape="round"  (click)="doCopyphonehreferal()" tab="info"><ion-icon color='light' name="copy"></ion-icon>0{{infousersid.info[1]}}</ion-button>
                       <ion-button  class="userbuttons" color="dark" expand="full" Shape="round"  (click)="openWhatsApp()"><ion-icon name="logo-whatsapp"></ion-icon>WhatsApp</ion-button>
                <br>
              </ion-item>
            </div>
            <ion-item lines="none">
              <h3 class="margensuperior">Información personal:</h3>
              <ion-label position="stacked"> Nombre: <br> </ion-label>
              <h5 class="informacion2">{{infousers.info[0]}}</h5>
              <ion-label position="stacked"> Correo electronico:<br> </ion-label>
              <h5 class="informacion2">{{infousers.email}}</h5>
              <ion-label position="stacked"> Código de Socio VIP:<br> </ion-label>
               
              <ion-button color="light" (click)="doCopyID()" tab="info">
                <ion-icon color='dark' name="copy"></ion-icon>{{infousers.idSoyVIP}}
              </ion-button>
            </ion-item>
            <!-- <ion-item lines="none">
              <h3>Información del beneficiario:</h3>
              <ion-label position="stacked">Nombre:<br> </ion-label>
              <h5 class="informacion2">{{infousers.beneficiario[0]}}</h5>
            </ion-item> -->
            <ion-item lines="none">
                <h3>Información de Pago a VIP-APP:</h3>
            </ion-item>
            <ion-item lines="none">
              <ion-text color="danger">
                <p class="dd">Por favor contactese con su socio para acordar la forma de pago</p>
              </ion-text>
            </ion-item>
            <ion-toolbar>
              <ion-label>
                <br>
                <br>
                <p class="dd">Su cuenta se activara en un plazo de 24 horas, si su cuenta no es activada por favor
                  contactese con el servicio técnico</p>
              </ion-label>
            </ion-toolbar>
          </div>
        </div>
        <div class="mverifica" *ngIf="infousers.active">
          <!-- entra si esta activo-->
          <div *ngFor="let infousersid of infouserid">
            <ion-item lines="none">
              <h3 class="margensuperior">Información de Pago a VIP-APP</h3>
              <ion-label position="stacked">Propietario: </ion-label>
              <h5 class="informacion2">Fernando Hurtado</h5>
              <ion-label position="stacked">Cédula: </ion-label>
              <h5 class="informacion2">1003388368</h5>
              <ion-label position="stacked">Celular: </ion-label>
              <h5 class="informacion2">0986207934</h5>
              <ion-label position="stacked">Banco: </ion-label>
              <h5 class="informacion2">Pichincha cuenta de ahorro</h5>
              <ion-label position="stacked">Número de cuenta: </ion-label>
              <h5 class="informacion2">2205782309</h5>
              <ion-label position="stacked">Banco: </ion-label>
              <h5 class="informacion2">Guayaquil cuenta de ahorro</h5>
              <ion-label position="stacked">Número de cuenta: </ion-label>
              <h5 class="informacion2">28441376</h5>
              <br>
            </ion-item>
            <ion-item lines="none">
              <h3 class="margensuperior">Información del Socio</h3>
              <ion-label position="stacked"> Nombre: </ion-label>
              <h5 class="informacion2">{{infousersid.info[0]}}</h5>
              <ion-label position="stacked"> Correo electronico: </ion-label>
              <h5 class="informacion2">{{infousersid.email}}</h5>
              <ion-label position="stacked">Número de celular: </ion-label>
              <h5 class="informacion2">0{{infousersid.info[1]}}</h5>
            </ion-item>
            <ion-item lines="none">
              <h3>Información Personal</h3>
              <ion-label position="stacked"> Nombre: </ion-label>
              <h3 class="informacion2">{{infousers.info[0]}}</h3>
              <ion-label position="stacked"> Correo electronico: </ion-label>
              <h3 class="informacion2">{{infousers.email}}</h3>
              <div>
                <ion-label position="stacked"> Código de Socio VIP:<br> </ion-label>
                <h5></h5>
                <ion-button color="light" (click)="doCopyID()" tab="info">
                  <ion-icon color='dark' name="clipboard"></ion-icon>{{infousers.idSoyVIP}}
                </ion-button>
                

              <ion-button color="light" (click)="generateBar()"><ion-icon color='dark' name="qr-scanner"></ion-icon>
                QR
              </ion-button>

              <h3>Pagar con VIP-APP</h3>
              <ion-label position="stacked"> Dinero VIP-APP Consumible: </ion-label>
              <h3 class="informacion2">{{infousers.coin_SoyVIP}}</h3>
              <ion-label position="stacked"> Dinero VIP-APP Contable</ion-label>
              <h3 class="informacion2">{{infousers.contador_referidos*5}}</h3>
              <ion-button color="light" (click)="pagar()"><ion-icon color="dark" name="card"></ion-icon>
                Realizar pago
              </ion-button>
              <ion-button color="light" (click)="pagarHistorial()"><ion-icon color="dark" name="wallet"></ion-icon>
                Historial
              </ion-button>
              </div>
              <br>
            </ion-item>
            <!-- <ion-item lines="none">
              <h3>Información del beneficiario</h3>
              <ion-label position="stacked">Nombre: </ion-label>
              <h3 class="informacion2">{{infousers.beneficiario[0]}}</h3>
            </ion-item> -->
            <br>
            <ion-button color="dark" (click)="verSocios()">Mis Asociados</ion-button>
            <br>
            <div *ngIf="infousers.admin">
            <ion-button color="dark" (click)="administrar()">Administrar Marcas</ion-button>
            </div>
            <br>
            <ion-item >
              <h3>Activar un nuevo Socio:</h3>
              <ion-label position="stacked">Código VIP:<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input [(ngModel)]="nombrenuevosocio"></ion-input>
            </ion-item>
            <ion-item padding lines="none">
              <ion-button color="dark" class="dd"  (click)="openGalery()" expand="block">
                <ion-icon slot="start" name="cloud-upload"></ion-icon> Seleccionar Pago <ion-text color="danger">*
                </ion-text>
              </ion-button>
              <ion-label position="stacked" class="dd">
                <!-- <p> Subiendo: {{uploadPercent| async}}%</p> -->
              </ion-label>
              <div class="dd" *ngIf="downloadUrl | async">
                <img class="pagoimg" [src]="downloadUrl | async">
                <br>
                <ion-button color="dark"  (click)="envioPago()" expand="block">
                  Enviar Pago</ion-button>
              </div>
            </ion-item>
          </div>
        </div>
      </div>
    </div>
    <ion-button class="userbuttons" fill="outline" expand="block" Shape="round" (click)="onLogout()">Cerrar Sesión
    </ion-button>
  </ion-content>
</ion-app>