ion-header{

    --ion-background-color:rgb(0, 0, 0);
}

.titulo{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
}
.gp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 20px;
    --ion-background-color:rgb(0, 0, 0);
    
}

ion-content{ 

      
    margin-left: 20px;
    margin-right: 20px;
} 
 

.mverifica{
    text-align: center;
    font-size: 20px;
    
    margin-bottom: 60px;
  
}
.textfield{
    display: block;
    text-align: left;
    --ion-text-color: #FFFFFF;
    --background: #2C2C2C; 
    
}
.dd{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.verificacionenvio{
    text-align: center;
    font-size: 12px;
    margin-bottom: 60px;
}

.mensajeid{

    font-size: 16px;
    text-align: center;
}

.margensuperior{
    margin-top: 0px;
}

.parrafopago{
    margin-top: 3px;

}

.userbuttonsregistros
{
    margin-left: auto;
    margin-right: auto;
}
.userbuttons{

    margin-left: auto;
    margin-right: auto;
}

.codigonodisponible{
    text-align: center;

}

.userbuttonspago{
    
    text-align: center;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
   
    
}
.userbuttonspago1{
    
    text-align: center;
    font-size: 15px;
    display: block;
    
}
.id{
    margin-left: 20px;
    margin-right: 20px;
}
.pagoimg{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.informacion{
    font-size: 20px;
}

.informacion2{
    font-size: 14px;
}
