<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons>
            <ion-back-button color="secondary"class="retroceder" defaultHref="/tabs/user"></ion-back-button>
          <ion-title>
            Modo Administrador
        </ion-title>
        <ion-buttons (click)="nuevaPublicidad()"> <ion-icon name="add"> </ion-icon>Publicidad</ion-buttons>
          </ion-buttons>
         
    </ion-toolbar>
</ion-header>
<ion-content padding>

<ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select value="category01" (ionChange)="OnChange($event)" interface="action-sheet" [(ngModel)]="marcaSeleccionada">
      <ion-select-option value="category01">Comida</ion-select-option>
      <ion-select-option value="category02">Belleza</ion-select-option>
      <ion-select-option value="category03">Turismo</ion-select-option>
      <ion-select-option value="category04">Gimnasios</ion-select-option>
      <ion-select-option value="category05">Salud</ion-select-option>
      <ion-select-option value="category06">Viajes</ion-select-option>
      <ion-select-option value="category07">Academias</ion-select-option>
      <ion-select-option value="category08">Bares</ion-select-option>
      <ion-select-option value="category09">Pastelerias</ion-select-option>
      <ion-select-option value="category10">Servicios</ion-select-option>
      <ion-select-option value="category11">Varios</ion-select-option>
      <ion-select-option value="category12">Ropa</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-list>
  <ion-item lines="none" *ngFor="let brand of Brands">
        <ion-toolbar>
              <ion-item lines="inset" button [routerLink]="['/detalles',brand.id]">
                  <ion-text>{{brand.name}}</ion-text>
              </ion-item>
           </ion-toolbar>            
    
        </ion-item>
    </ion-list>
<br>
<br>
<br>
<br>
<br>
    <ion-fab vertical= "bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="dark" routerLink="/detalles" routerDirection="forward">
        <ion-icon name="add">
        </ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-fab vertical= "bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="dark" (click)="agregarCiudad()">
      <ion-icon name="map">
      </ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
