<ion-header>
  <ion-toolbar>
    <ion-item> 
      <ion-menu-button color="secondary" menu="primerMenu"></ion-menu-button>
    </ion-item>
    <img class="logom" src="assets/icon/main.png" alt="logo">
  </ion-toolbar>
</ion-header> 
<ion-content padding>
    
  <br>
  <br>
  <ion-item>
    <img (click)="selectMenu1()" class="i" src="assets/icon/Category/category01.png" alt="restaurante">
    <img src="assets/icon/Category/category02.png" alt="belleza">
    <img src="assets/icon/Category/category03.png" alt="hotel">

  </ion-item>
  <br>

  <ion-item>
    <img src="assets/icon/Category/category04.png" alt="fitnes">
    <img src="assets/icon/Category/category05.png" alt="salud">
    <img src="assets/icon/Category/category06.png" alt="farmacia">

  </ion-item>
  <br>
  <ion-item>
    <img src="assets/icon/Category/category07.png" alt="educacion">
    <img src="assets/icon/Category/category08.png" alt="bar">
    <img src="assets/icon/Category/category09.png" alt="heladeria">
  </ion-item>
  <br>
  <ion-item>
    <img src="assets/icon/Category/category10.png" alt="servicio">
    <img src="assets/icon/Category/category11.png" alt="varios">
    <img src="assets/icon/Category/category12.png" alt="publiextresstv">
  </ion-item>
  <br>
  <ion-item>
    <img src="assets/icon/Category/category13.png" alt="servicio">
  </ion-item>
  <br>













  <div *ngIf="!user.hasVerifiedEmail">
    <div> Por favor revisa tu correo y verifica tu cuenta </div>
    <div>
      <ion-button color="secondary" (click)="onSendVerificationEmail()">Reenviar correo</ion-button>
    </div>
    <div>
      <ion-button color="secondary" (click)="reload()">Recargar</ion-button>
    </div>
    <div *ngIf="user.sentTimestamp"> El correo de verificacion se envio {{user.sentTimestamp | date:'medium'}}</div>

  </div>
  <div padding *ngIf="user.hasVerifiedEmail">
    <div> ingresa a menu </div>
    <div>
      <ion-button (click)="selectMenu1()">Categoria 1</ion-button>
    </div>
    <div>
      <ion-button (click)="selectMenu2()">Categoria 2</ion-button>
    </div>
  </div>

  <ion-button color="secondary" routerLink="../user">User</ion-button>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>
  </div>
  <ion-button (click)="onLogout()">LogOut</ion-button>
</ion-content>