ion-header{

    --ion-background-color:rgb(0, 0, 0);
}

ion-content{
    --ion-background-color:rgb(0, 0, 0);
    text-align: center;
}

img{
    margin-top: 00px;
    width: 100px
}

.rcorreo{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    --ion-text-color: #FFFFFF;
   
    --background: #2C2C2C; 
    
}

.rcontraseña{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    --ion-text-color: #FFFFFF;
  
    --background: #2C2C2C; 
    
}

.rconfirmar{
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    --ion-text-color: #FFFFFF;
    
    --background: #2C2C2C; 
    
}

.crear{
    margin-left: 60px;
    margin-right: 60px;
    
}
.terminos{
   
    margin-left: auto;
    margin-right: auto;
  
    --border-color: rgb(216, 157, 68);
    --background-checked: #A58547;
    --border-color-checked: #A58547;
    --size: 15px;
    
}
.acepto{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  

}
