<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="secondary"class="retroceder" defaultHref="/"></ion-back-button>
    </ion-buttons>
   
  </ion-toolbar>
  
</ion-header>

<ion-content>
  
  <img src="assets/icon/main.png" alt="logo">
  
  <br>
  <br>
  <br>
  <ion-item class="rcorreo">
   <ion-input type="text" placeholder="Correo" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <br>

  <ion-item class="rcontraseña">
     <ion-input type="password" placeholder="Contraseña" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <br>

  <ion-item class="rcontraseña">
     <ion-input type="password" placeholder="Confirmar Contraseña" [(ngModel)]="cuser"></ion-input>
  </ion-item>
  <br>
  <br>
  <div>
      <ion-checkbox  [(ngModel)]="ts" checked="false" color="light" class="terminos"></ion-checkbox>
      <ion-label> - </ion-label>
      <ion-label  color="light" slot="start" class="acepto" routerLink="/terms"> Acepto términos y condiciones</ion-label> 
    </div>  
  <br>
  <ion-button class="crear" expand="block" Shape="round" fill="solid" (click)="onRegister()">
    Crear
  </ion-button>

</ion-content>
